<style>
    td {
        border: 1px solid black;
    }
	
	div {
		width: 100px;
		height: 100px;
		border: 1px solid black;
		position: absolute;
	}
</style>
<h1 onclick="alert ('ma pratica de programacao')">PAGINA DE TESTE</h1>
<table id="tabela">
    <thead>
        <th>Nome</th>
        <th>Ano</th>
        <th>Fabricante</th>
        <th>Vel. CPU</th>
		<th>acoes</th>
    </thead>
    <tbody>
       
        
    </tbody>

</table>
   
<div id="xpto"/>









<script>
  
	function nomedafuncao (param) {
		console.log ("yo");
		return true;
	
	};	
	
	
	nomedafuncao (null);
	
	var outrafuncao = nomedafuncao;
	outrafuncao (null);
	
	var minhafuncao = function () {
		console.log ("yo2");
	}
	minhafuncao ();
	
  
  
  
    var videogames = [ { 
                        nome : "Super Nintendo", 
                        ano : "1990", 
                        fabricante : "Nintendo", 
                        velocidadecpu : "3.52mhz" 
                    } ,
                    { 
                        nome : "Megadrive", 
                        ano : "1988", 
                        fabricante : "Sega", 
                        velocidadecpu : "7.6mhz" 
                    },
                    { 
                        nome : "Playstation", 
                        ano : "1994", 
                        fabricante : "Sony", 
                        velocidadecpu : "33.86mhz" 
                    }
                     ];
	var tbody = document.getElementById ("tabela").children[1];
	
	
	
	var linha1 = document.createElement ("tr");
	var coluna11 = document.createElement ("td");
	var coluna12 = document.createElement ("td");
	var coluna13 = document.createElement ("td");
	var coluna14 = document.createElement ("td");
	var coluna15 = document.createElement ("td");
	
	coluna11.innerHTML = videogames[0].nome;
	coluna12.innerHTML = videogames[0].ano;
	coluna13.innerHTML = videogames[0].fabricante;
	coluna14.innerHTML = videogames[0].velocidadecpu;
	
	var entra = function (event) {
		console.log (event.pageX+","+event.pageY);
		this.style.backgroundColor = "red";
		this.style.color = "white";
	};
	
	var sai = function () {
		this.style.backgroundColor = "white";
		this.style.color = "black";
	}; 
	
	coluna13.onmouseover = entra;
	
	coluna13.onmouseout = sai;
	
	var botaoRemover = document.createElement ("input");
	botaoRemover.type = "button";
	botaoRemover.value = "X";
	
	botaoRemover.onclick = function (event) {
		this.parentNode.parentNode.parentNode.removeChild (this.parentNode.parentNode);
	}
	
	coluna15.appendChild (botaoRemover);
	
	linha1.appendChild (coluna11);
	linha1.appendChild (coluna12);
	linha1.appendChild (coluna13);
	linha1.appendChild (coluna14);
	linha1.appendChild (coluna15);
	
	
	
	
	var linha2 = document.createElement ("tr");
	var coluna21 = document.createElement ("td");
	var coluna22 = document.createElement ("td");
	var coluna23 = document.createElement ("td");
	var coluna24 = document.createElement ("td");
	var coluna25 = document.createElement ("td");
	
	coluna23.onmouseover = entra;
	coluna23.onmouseout = sai;
	
	coluna21.innerHTML = videogames[1].nome;
	coluna22.innerHTML = videogames[1].ano;
	coluna23.innerHTML = videogames[1].fabricante;
	coluna24.innerHTML = videogames[1].velocidadecpu;
	
	linha2.appendChild (coluna21);
	linha2.appendChild (coluna22);
	linha2.appendChild (coluna23);
	linha2.appendChild (coluna24);
	linha2.appendChild (coluna25);
	
	tbody.appendChild (linha1);
	tbody.appendChild (linha2);
	
	
	
	document.body.onclick = function (event) {
		
		var div = document.createElement ("div");
		document.body.appendChild (div);
		div.style.top = event.pageY;
		div.style.left = event.pageX;
		
	
	
	}
	
	document.getElementById ("xpto").onmouseover = function () {
	
		var x = Math.random ()*300;
		var y = Math.random ()*300;
		console.log (x);
		document.getElementById ("xpto").style.top = y;
		document.getElementById ("xpto").style.left = x;
	
	}









</script>

    
