<style>

* {
    border: 0;
    margin: 0;
}

#caixa {
    width: 200px;
    height: 40px;
    border: 1px solid black;
    margin: 15px;
}

#barra {
    height: 40px;
    background-color: darkblue;
    width: 0%;
}

</style>

<div id="caixa">
    <div id="barra">
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>

        function barraP(progresso) {
            var barra = document.getElementById('barra').style.width = progresso + "%";
        }

        function atualizar() {
            var larguraAtual = document.getElementById('barra').style.width;
            larguraAtual = parseInt(larguraAtual);
            larguraAtual = larguraAtual + 1;
            barraP(larguraAtual); 
            if (larguraAtual < 100)
                setTimeout(atualizar, 100);
        }

        atualizar();

        // $("#barra").animate({width: "100%"}, 10000, "linear");

</script>